* {
  font-family: 'Patrick Hand', cursive;
}

* {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
}

.header {
width: 360px;
height: 87px;
display: block;
margin-left: auto;
margin-right: auto;
background-image: url("Rectangle 1.png");
}

.main {
  display: flex;
  justify-content: space-between;
  margin-left: 26px;
  padding-top: 30px;
  
}

.logo {
margin-top: -32px;
margin-right: -40px;
}

.menu_right {
  display: flex;
  justify-content: space-between;
  gap: 17px;
  margin-right: 22px;
  margin-top: 1px;
}

.navigation{
  font-size: 11px;
  line-height: 15px;
}

.container {
  margin-top: 9px;
  display: flex;
  justify-content: space-around;
  
}
.atgal {
  display: flex;
  gap: 3px;
  align-items: center;
}
.navigacija {
  color: #AAAAAA;
  display: flex;
  margin-right: 26px;
  gap: 8px;
  align-items: center;
}

.pagrindinis {
  margin-right: 10px;
}

.naujoves {
  margin-right: 10px;
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

body {
  max-width: 360px;
  margin: 0 auto;
}

body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  margin-left: -10px;
  position: relative;
  margin-top: 21px;
  padding-top: 287px;
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  scroll-snap-align: center;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: 20px;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
  margin-right: 8px;
}

.carousel::after {
  background-image: url("arrow.svg");
}

.description {
  width: 320px;
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  margin-top: -8px;
  margin-left: 9px;
}

.price {
  font-family: 'Arimo';
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-left: 30px;
  padding-top: 2px;
}

.colors {
  font-size: 16px;
  line-height: 22px;
  margin-top: 5px;
  margin-left: 33px;
}

.colors_choose {
  margin-bottom: 7px;
  margin-left: -4px;
}
.circles {
  display: flex;
  gap: 11px;
}
.circle {
background: #EFDFCC;
border-radius: 50%;
border: 1px solid #000000;
height: 35px;
width: 35px;
}

.circle_selected {
  box-shadow:
      0 0 0 2px white,
      0 0 0 3px black;
}

.circle_red {
  background: rgba(249, 199, 202, 1);
}

.circle_green {
  background: rgba(202, 219, 187, 1);
}

.circle_blue {
  background: rgba(197, 222, 242, 1);
}

.circle_purple {
  background: rgba(204, 163, 193, 1);
}

.amount {
  display: flex;
  justify-content: start;
  gap: 8px;
  font-size: 20px;
  line-height: 27px;
  margin-top: 9px;
  margin-left: 30px;
}

.plusminus {
  display: flex;
  gap: 6px;
  align-items: center;
  font-family: 'Arimo';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.minus {
  height: 23px;
  width: 23px;
}

.plius {
  height: 25px;
  width: 25px;
}

.size {
  display: flex;
  align-items: center;
  font-weight: 400;
font-size: 20px;
line-height: 27px;
margin-left: 30px;
margin-top: 6px;
}
.dydziai {
  
  font-style: normal;
  font-size: 15px;
  line-height: 17px;
  display: flex;
  justify-content: start;
  gap: 7px;
  margin-top: 4px;
  margin-left: 17px;
}

.dydziai a {
  font-family: 'Arimo';
}

.placiau {
font-family: 'Arimo';
font-size: 12px;
line-height: 14px;
text-decoration-line: underline;
}

.dydziai div {
  font-family: 'Arimo';
}

.pristatymas {
  font-size: 20px;
  margin-left: 30px;
  margin-top: 2px;
}
.first_frame {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 140px;
  width: 263px;
  height: 38px;
  background: #FCE2E3;
  border: 1px solid #AAAAAA;
  margin-left: 27px;
  margin-top: 6px;
  
}

.post_frame {
  font-family: 'Arimo';
  font-size: 12px;
}

.frame {
  display: flex;
  align-items: center;
  gap: 140px;
  width: 263px;
  height: 38px;
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  margin-left: 27px;
}

.post_frames {
  font-size: 12px;
  margin-left: 9px;
  font-family: 'Arimo';
}

.comments {
  margin-left: -14px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.comments span {
  font-family: 'Arimo';
  font-size: 14px;
  font-weight: 700;
}
.stars {
  font-family: 'Arimo';
  display: flex;
  align-items: center;
  margin-top: -5px;
  font-size: 14px;
  gap: 2px;
}

.lorem {
font-family: 'Arimo';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 14px;
margin-top: 3px;
margin-left: 27px;
}

.placeholder {
  width: 48px;
  height: 47px;
}

.nickname {
  display: flex;
  justify-content: start;
  margin-top: -19px;
  align-items: center;
  margin-left: 30px;
}

.nick {
  font-size: 12px;
  line-height: 14px;
}

.fivestars {
margin-left: 10px;
}

.photos {
  display: flex;
  gap: 10px;
  margin-top: -14px;
  margin-left: 30px;
}

.purchases {
background: #FEC5BA;
border: 1px solid #000000;
border-radius: 39px;
width: 168.56px;
height: 30.99px;
margin: 0 auto;
margin-top: 12px;
align-items: center;
text-align: center;
font-family: 'Jaldi';
font-size: 16px;
line-height: 15px;
}

.mygtukas {
  margin-top: 5px;
  margin-left: -9px;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}


.purchases:hover {
  animation: wobble-hor-bottom 0.8s both;
}

.dydziai a {
  font-weight: 400;
}

.dydziai a:focus {
  font-weight: 700;
}

.like {
  margin-top: 8px;
}

.like svg{
  fill: white;
  transition: fill 1s;
}
.like svg:hover {
fill: red;
}